<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <form #myForm="ngForm" (submit)="myForm.reset()" (ngSubmit)="Login()" class="card-body">
              <h1>Login</h1>
              <p class="text-muted">Sign In to your account</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input [(ngModel)]="LoginParams.email" name="email" (ngModelChange)="LoginParams.email = $event" type="text" class="form-control" placeholder="Username">
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input [(ngModel)]="LoginParams.password" name="loginPassword" (ngModelChange)="LoginParams.password = $event" type="password" class="form-control" placeholder="Password">
              </div>
              <p class="error" *ngIf="isLoginErr">Логин или пароль введен не верно!</p>
              <div class="row">
                <div class="col-6">
                  <button type="submit" class="btn btn-primary px-4">Вход</button>
                </div>
                
              </div>
            </form>
          </div>
         
        </div>
      </div>
    </div>
  </div>