<div class="app-body">
    <div class="sidebar">
      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-title">
            Пользователи
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="users" class="nav-link"><i class="icon-pencil"></i>Пользователи</a>
          </li>
          <li class="nav-title">
            Доп данные
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="ships-types" class="nav-link"><i class="icon-pencil"></i>типы судов</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="dp" class="nav-link"><i class="icon-pencil"></i>dp системы</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="me" class="nav-link"><i class="icon-pencil"></i>me типы</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="office" class="nav-link"><i class="icon-pencil"></i>должности</a>
          </li>
          <li class="nav-title">
            Основные данные:
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="companys" class="nav-link"><i class="icon-pencil"></i>компании</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="ships" class="nav-link"><i class="icon-pencil"></i>суда</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="seamen" class="nav-link"><i class="icon-pencil"></i>моряки</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="vacancy" class="nav-link"><i class="icon-pencil"></i>вакансии</a>
          </li>
        </ul>
        
      </nav>
     
    </div>

    <!-- Main content -->
    <main class="main">

      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Админпанель</li>
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
              
              <span class="btn" (click)="logout()">
                <i class="icon-graph"></i> &nbsp;Выйти</span>
              
            </div>
          </li>
      </ol>
      
      <router-outlet></router-outlet>
      <!-- /.conainer-fluid -->
    </main>


  </div>

  